-
	var flightsTableHeaders = [
		"№",
		"Название",
		"Тип",
		"Страна",
		"Cкорость (км/ч)",
		"Дальность (км)",
		"Макс. высота полета (м)",
		"Макс. взлетный вес (кг)",
		"Пассажиры (чел.)"
	];

mixin createFlightsTable
	table.flights-table__container
		thead
			tr
				each header, i in flightsTableHeaders
					th(class=(i==1 ? "flights-table__name-column" : null))= header
		tbody(id="flights-table-body")

+createFlightsTable