extends flight_article_base

append variables
	- var title = "Cessna Sovereign"
	- var articleTitle = "Cessna Citation Sovereign"
	
block articleContent
	img(src="img/cesna_soveregin.jpg", alt="").flights_article__content-cover
	p Cessna Citation Sovereign представляет собой среднегабаритный бизнес-джет, выпускаемый концерном Cessna Aircraft Company. Эта модель – второй по размерам самолет в линейке бренда после Citation X.
	p Разработка и запуск Cessna 680 Citation Sovereign
	p Двухдвигательный самолет бизнес-класса является трансконтинентальным и эксплуатируется преимущественно в деловых целях. Он был анонсирован в 1998 году на конференции NBAA и допущен к тестам в 2002 году. После прохождения сертификации FAA начались массовые поставки воздушного судна в сентябре 2004 года, а в 2005 году оно было сертифицировано EASA.
	p Компания-производитель хотела заполнить существенную брешь в линейке административных самолетов средних габаритов, так как спрос на предыдущие образцы III, VI, VII претерпевал падение. Модель Sovereign стала оптимальным вариантом, воплощающим прекрасные эксплуатационные характеристики и высокий уровень пассажирского комфорта в просторном салоне во время рейса. Созданный самолет смог соперничать с Hawker 800 по соотношению тяги и веса, а также составить конкуренцию Learjet 60 по скорости набора высоты – 20,4 м/с.
	p В 2012 году был запущен в производство улучшенный вариант Sovereign+ с усовершенствованной силовой установкой и модернизированной кабиной летчиков.
	p.bold-text Летно-технические характеристики
	p Sovereign разработан на базе Citation Excel, поэтому имеет абсолютно такой же фюзеляж и системы летного контроля. Ключевым обновлением модели стало прямое стреловидное крыло и оперение хвостовой части судна. Самолет оснащен двумя мощными и при этом экономно расходующими топливо моторами Pratt & Whitney Canada PW306C, благодаря которым судно достигает скоростного крейсерского максимума в 849 км/ч и способно совершать посадку на укороченных взлетно-посадочных полосах чуть более 1 км. Cessna 680 Citation Sovereign имеет дальность полета 5339 км и ввиду этого востребован как в Штатах и Европе, так и в России.
	p На борту установлена авионика Honeywell Primus Epic с четырьмя LCD-экранами и система управления полетом Rockwell-Collins FMZ2000.
	p Воздушно-транспортное средство вмещает в составе экипажа двух человек и до 12 пассажиров на борту. Длина самолета – около 20 м, размах крыла имеет аналогичную величину. Высота модели – 6,2 м, а самой кабины – 1,73 м, что делает салон вместительным и комфортным для путешественников, могущих находиться внутри в полный рост.
	p Взлетный максимум самолета равен 13 743 кг, а масса полезной нагрузки превышает 5 тонн.
	p.bold-text Оформление интерьера самолета
	p Большой и комфортный самолет бренда «Цессна» обладает той самой золотой серединой, когда филигранные технические параметры сочетаются с высшей степенью пассажирской безопасности и эргономики.
	p Салон судна внутри отделан роскошной кожей в шоколадно-бежевых оттенках и натуральным деревом. Ниши у иллюминатора спроектированы с учетом выдвижных столиков и отверстий для стаканчиков, пепельниц, розеток. Мягкие регулируемые кресла (4 парных сиденья) удобны для отдыха во время длительного авиарейса. Система отопления и кондиционирования создает оптимальный микроклимат независимо от погодных условий за бортом, а чистая уборная комфортабельна и компактна.
	p Стоимость нового самолета Sovereign варьируется от суммы в 18 млн. долларов США. Джет используется частными лицами и чартерными перевозчиками бизнес-авиации.