extends flight_article_base

append variables
	- var title = "Gulfstream G200"
	- var articleTitle = "Gulfstream G200"
	
block articleContent
	img(src="img/gulfstream_g200.jpg", alt="").flights-article__content-cover
	p Турбореактивный самолет бизнес-класса Gulfstream G200 спроектирован Gulfstream Aerospace в сотрудничестве с ОКБ А.С. Яковлева. Он по праву занимает высокую позицию в линейке деловых среднегабаритных самолетов бренда.
	p.bold-text Разработка модели G200
	p Совместная с конструкторским бюро Яковлева программа Galaxy стартовала с 1993 года. Корпорация Gulfstream Aerospace приобрела Galaxy Aerospace и осуществила ряд трансформаций в прототипе IAI-1126 Galaxy.
	p Модель обзавелась чуть более широким и удлиненным фюзеляжем на 10 пассажирских мест в салоне бизнес-класса, новым крылом Astra SPX с законцовками, а также силовой установкой с парными моторами Pratt & Whitney Canada PW306A и бортовой электроникой Collins Pro-Line 4.
	p Самолет G200 на базе IAI-1126 Galaxy впервые взмыл в небо в 2001 году. С тех пор он производится корпорацией в двух конфигурациях – Executive Jet и Stantard. Gulfstream G200 способен разместить на борту около 11 человек в зависимости от планировки. Первые заказчики получили свои воздушные суда уже через год после дебюта по цене в 14,5 млн. долларов США. К 2008 году предприятие реализовало уже 200 самолетов G200 американо-израильского производства в кооперации с Israel Aircraft Industries.
	p.bold-text Летно-технические характеристики
	p Воздушно-транспортное средство оборудовано парными двухконтурными моторами Pratt&WhitneyCanadaPW306A и электронной системой контроля двигателей FADEC.
	p Что касается габаритов судна, его длина составляет почти 19 м, а высота – 6,53 м. Салон занимает 7,44 м без учета кабины пилотов. Ширина пассажирского отсека – 2,83 м, высота – 1,93 м, что создает удобство для нахождения на борту в полный рост. Экипаж «Гольфстрим G200» – 1-2 человека, а количество пассажиров варьируется до 18 человек (зависит от размещения кресел).
	p Вес пустого самолета – 8981 кг, а при полных топливных баках – 10 886 кг. Максимальная взлетная масса – 16 079 кг. Этот представитель деловой линейки бренда может развивать скорость до 915 км/ч, а его крейсерская скорость колеблется на уровне 797 км/ч.
	p.bold-text Салон авиалайнера
	p Роскошный интерьер бизнес-самолета G200 включает в себя комплект из 8 мягких кресел с кожаной обивкой и комфортабельный мягкий диванчик для троих, столики-трансформеры для приема пищи и работы за ноутбуком или с документами, отсек с бортовой кухонькой и баром, а также другие удобства, необходимые для полета средней дальности.